# Keep dataset folder structure on GitHub, but do not upload the actual data.

Week1/data/**
!Week1/data/.gitkeep

Week2/data/**
!Week2/data/.gitkeep

Week3/data/**
!Week3/data/.gitkeep

Week4/data/**
!Week4/data/.gitkeep

Week5/data/**
!Week5/data/.gitkeep

Week6/data/**
!Week6/data/.gitkeep
!Week6/data/2014_daily/
!Week6/data/2014_daily/.gitkeep
!Week6/data/2014_daily/train/
!Week6/data/2014_daily/train/.gitkeep
!Week6/data/2014_daily/test/
!Week6/data/2014_daily/test/.gitkeep

Week6/processed_data/**
!Week6/processed_data/.gitkeep
!Week6/processed_data/64x64/
!Week6/processed_data/64x64/.gitkeep
!Week6/processed_data/256x256/
!Week6/processed_data/256x256/.gitkeep
!Week6/processed_data/512x512/
!Week6/processed_data/512x512/.gitkeep

Week6/predictions/**
!Week6/predictions/.gitkeep

Week7/data/**
!Week7/data/.gitkeep

Week7/*.weights.h5

Week8/cache_*.npz

FinalProject/data/**
!FinalProject/data/.gitkeep

FinalProject/*.csv